<div class='panel-heading'>
  <div class='panel-title'>
    <i {{bind-attr class=":glyphicon :pull-right isEditing:glyphicon-ban-circle:glyphicon-edit"}} {{action 'toggleEditing'}}></i>
    <i {{action 'delete'}} class='glyphicon pull-right glyphicon-trash text-muted'>&nbsp;</i>
    <h4>{{title}}</h4>
  </div>
</div>

{{#unless isEditing}}
<div class='panel-body'>
  {{#if coverImage}}
    <img {{bind-attr src=coverImage}} class='cover-image'/>
  {{/if}}
  {{#if author}}
    <p class='text-muted'>by {{author}}</p>
  {{/if}}
  <p>
    {{#each tags}}
      <span class="label label-default">{{this}}</span>
    {{/each}}
  </p>
  <p class='clearfix'>{{description}}</p>
  {{#if isCheckedOut}}
    {{#if isCheckedOutByCurrentUser}}
      <div class="alert alert-warning clearfix" role="alert">
        You borrowed this book.
        <button {{action 'returnBook'}}type="button" class="btn btn-default pull-right">Return</button>
      </div>
    {{else}}
      <div class="alert alert-warning" role="alert">
        {{borrowedBy.fullName}} borrowed this book.
      </div>
    {{/if}}
  {{else}}
    <button {{action 'checkOut'}}type="button" class="btn btn-default">Check Out</button>
  {{/if}}
</div>
{{else}}
<div class='panel-body'>
  {{view 'books/form'}}
</div>
{{/unless}}
