<div class='panel-heading'>
  <div class='panel-title'>
    <i {{bind-attr class=":glyphicon :pull-right isEditing:glyphicon-ban-circle:glyphicon-edit"}} {{action 'toggleEditing'}}></i>
    <h4>{{title}}</h4>
  </div>
</div>

{{#unless isEditing}}
<div class='panel-body'>
  <p class='text-muted'>by {{author}}</p>
  <p>{{description}}</p>
</div>
{{else}}
<div class='panel-body'>
  <form class="form form-vertical" {{action 'submit' on='submit'}}>
    <div {{bind-attr class=':form-group validationErrors.title:has-error'}}>
      <label for='title'>Title</label>
      <div class="controls">
        {{input value=title id='title' class="form-control" placeholder="Enter Title" autofocus=true}}
        {{#if validationErrors.title}}
        <div class='control-label'>{{validationErrors.title}}</div>
        {{/if}}
      </div>
    </div>

    <div class="control-group">
      <label for='description'>Description</label>
      <div class="controls">
        {{textarea value=description id='description' class="form-control" placeholder="Enter Description" autofocus=true}}
      </div>
    </div>

    <div class="control-group">
      <label for='author'>Author</label>
      <div class="controls">
        {{input value=author id='author' class="form-control" placeholder="Enter Author"}}
      </div>
    </div>

    <div class="control-group">
      <label></label>
      <div class="controls">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </div>
  </form>
</div>
{{/unless}}
